<!--The content below is only a placeholder and can be replaced.-->
<app-menu></app-menu>

<app-home></app-home>
<router-outlet></router-outlet>


<footer>
  <p>Posted by: Hege Refsnes</p>
  <p>Contact information: <a href="mailto:someone@example.com">
    someone@example.com</a>.</p>
</footer>
